{% extends 'base.html.twig' %}
{% block title %}Agence test{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron text-center">
        <h1>Agence test</h1>
        <p>lorem iopqofngzeg nrzekl nezlgner</p>

    </div>
</div>
{% endblock %}  