{% extends 'base.html.twig' %}
{% block title %}Tous nos biens{% endblock %}
{% block body %}
<div class="container text-center mt-4">
    
        <h1>Tous nos biens</h1>
        <p>lorem iopqofngzeg nrzekl nezlgner</p>

</div>
{% endblock %}